.MemoItem {
  background-color: white;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 10px 0;
  position: relative;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.MemoItem__delete-button {
  color: red;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  display: none;
}

.MemoItem:hover > .MemoItem__delete-button {
  display: inline-block;
}

.MemoItem:hover > .MemoItem__delete-button:hover {
  scale: 1.5;
  font-weight: 700;
}

.selected {
  box-shadow: none;
  background-color: rgba(2, 126, 251, 0.9);
  color: white;
  font-weight: 700;
}
