.MainContainer {
  height: 100vh;
  background-color: rgba(2, 126, 251, 0.5);
  width: 100%;
}

.MainContainer__title {
  width: calc(100% - 40px);
  box-sizing: border-box;
  font-size: 2rem;
  margin: 70px 20px 30px 20px;
  padding: 5px 10px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.MainContainer__content {
  padding: 5px 10px;
  width: calc(100% - 40px);
  margin: 0 20px;
  font-size: 1.1rem;
  min-height: 600px;
  box-sizing: border-box;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
