.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: aqua;
  height: 100vh;
  min-width: 200px;
  text-align: center;
}

.MainContainer {
  height: 100vh;
  background-color: antiquewhite;
  width: 100%;
}

.MainContainer__title {
  width: calc(100% - 40px);
  box-sizing: border-box;
  font-size: 2rem;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.MainContainer__content {
  width: calc(100% - 40px);
  margin: 0 20px;
  font-size: 1.1rem;
  min-height: 600px;
  box-sizing: border-box;
}

.MemoList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* box-sizing: border-box; */
  /* margin: 2px; */
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.selected {
  background-color: blue;
}
