.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: aqua;
  height: 100vh;
  min-width: 200px;
  text-align: center;
}

.SideBarFooter {
  text-align: center;
  padding-right: 10px 0;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* butoon */
.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.MainContainer {
  height: 100vh;
  background-color: antiquewhite;
  width: 100%;
}

.MainContainer__title {
  width: calc(100% - 40px);
  box-sizing: border-box;
  font-size: 2rem;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.MainContainer__content {
  width: calc(100% - 40px);
  margin: 0 20px;
  font-size: 1.1rem;
  min-height: 600px;
  box-sizing: border-box;
}

.MemoList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* box-sizing: border-box; */
  /* margin: 2px; */
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
  padding: 10px 0;
  position: relative;
  box-sizing: border-box;
}

.MemoItem__delete-button {
  color: red;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  display: none;
}

.MemoItem:hover > .MemoItem__delete-button {
  display: inline-block;
}

.MemoItem:hover > .MemoItem__delete-button:hover {
  scale: 1.5;
  font-weight: 700;
}

.selected {
  background-color: rgba(100, 100, 100, 0.3);
  font-weight: 700;
}
